<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <system.web>
      <identity impersonate="true" userName="__qvServices" password="Test1234"/>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  
    <!--
    <location path="QlikViewTasks.asmx">
      <system.web>
        <authorization>
          <allow users="*"/>
        </authorization>
        <identity impersonate="true" userName="__qvServices" password="Test1234"/>
      </system.web>
    </location>
    -->

  <system.serviceModel>
      <extensions>
        <behaviorExtensions>
          <add name="serviceKeyBehavior" type="EDXWrapper.ServiceKeyBehaviorExtensionElement, EDXWrapper, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        </behaviorExtensions>
      </extensions>
      <behaviors>
        <endpointBehaviors>
          <behavior name="ServiceKeyEndpointBehavior">
            <serviceKeyBehavior />
          </behavior>
        </endpointBehaviors>
      </behaviors>

      <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IQMS">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQTService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4799/QMS/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQMS" contract="QmsAPI.IQMS"
                name="BasicHttpBinding_IQMS" behaviorConfiguration="ServiceKeyEndpointBehavior" />
            <endpoint address="http://localhost:4799/ANY/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQTService" contract="QmsAPI.IQTService"
                name="BasicHttpBinding_IQTService" behaviorConfiguration="ServiceKeyEndpointBehavior" />
        </client>
    </system.serviceModel>
</configuration>
